{{#if hike.reviews}}
  <hr>
  <h4>Hiker Reviews</h4>
  <div class="review-field">
    {{#each hike.reviews as |review|}}
      <p><span>{{review.username}}{{review-stars review.rating}}</span><br>{{review.comment}}</p>
      {{#if admin}}
      <p>admin working</p>
      <!-- <button {{action 'deleteAnswer' answer}}>Delete</button> -->
      {{/if}}
    {{/each}}
  </div>
{{/if}}
