<header>
  {{#link-to 'index'}}<h1>Question Board</h1>{{/link-to}}
  {{#link-to 'favorites'}}<h4>Favorite Questions</h4>{{/link-to}}
</header>

<div class="container">
  <center>
  </center>
{{outlet}}
</div>
